{# empty Twig template #}
{% extends "VostreCentralBundle::layout.html.twig" %}
        {% block css %}
                {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/trumbowyg.min.css') }}" />
        {% endblock %}        
{% block body %}
        {#{{ parent() }}#}
        {% block menu %} 
            {{ parent() }}
        {% endblock %}
        {% block conteudo %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Gerenciamento de Mensagens</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="form-mensagem" id="form-mensagem" method="POST" 
                  action="{{ path('circular_site_admin_mensagens_cadastra', {'id_mensagem': -1}) }}">
                {{ form_widget(formMensagem) }}
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped table-responsive text-center">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>T&iacute;tulo</td>
                        <td>Descri&ccedil;&atilde;o</td>
                        <td>Status</td>
                        <td>A&ccedil;&otilde;es</td>
                    </tr>
                </thead>
                <tbody>
                    {% for mensagem in mensagens %}
                    <tr>
                        <td>{{ mensagem.id }}</td>
                        <td>{{ mensagem.titulo }}</td>
                        <td>{{ mensagem.descricao|raw }}</td>
                        <td>
                                {% if mensagem.status == 0 %}
                            Ativo
                                {% elseif mensagem.status == 2 %}
                            Inativo
                                {% elseif mensagem.status == 3 %}
                            Recebida
                                {% else %}
                            Lida
                                {% endif %}
                        </td>
                        <td>
                            {% if mensagem.status == 0 or mensagem.status == 2 %}
                                <a href="#{{ mensagem.id }}" class="link-editar">Editar</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL EDICAO -->

<div class="modal fade" id="modal-edicao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Mensagem</h4>
            </div>
            <div class="modal-body" id="body-edicao">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btn-editar">Salvar</button>
            </div>
        </div>
    </div>
</div>

        {% endblock %}
        {% block rodape %} {{ parent() }} {% endblock %}
        {% block javascript %}
                {{ parent() }}
<script src="{{ asset('js/moment.js') }}"></script>
<script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/trumbowyg.min.js') }}"></script>
<script>
    $(document).ready(function() {
        
        $('.editor').trumbowyg({
            btns: [
                ['viewHTML'],
                ['formatting'],
                'btnGrp-semantic',
                ['superscript', 'subscript'],
                ['link'],
                'btnGrp-justify',
                'btnGrp-lists',
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ],
            removeformatPasted: true
        });
        
        $('.link-editar').click(function() {

            $idMensagem = $(this).attr('href').replace('#', '');

            $url = '{{ path('circular_site_admin_mensagens_form') }}' + "/" + $idMensagem;

            $.ajax({
                type: 'GET',
                url: $url,
                success: function(response) {
                    $('#body-edicao').html(response);
                    $('#modal-edicao').modal('show');
                }
            });

            return false;

        });
    });
</script>
        {% endblock %}    
{% endblock %}
