{% extends "VostreSiteBundle::layout.html.twig" %}
        {#{% block javascript %}
                {{ parent() }}
        {% endblock %}    
        {% block css %}
                {{ parent() }}
        {% endblock %}   #}     
{% block body %}
        {#{{ parent() }}#}
        {% block menu %} {{ parent() }} {% endblock %}
        {% block conteudo %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>Central do Cliente</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Seja bem vindo &agrave; Central do Cliente! Aqui voc&ecirc; pode verificar o 
                        status de seus produtos contratados, abrir chamados de suporte ou desenvolvimento, 
                        al&eacute;m de poder atualizar seus dados cadastrais.</p>
                    <br />
                    <h4>Para acessar sua p&aacute;gina, por favor informe os dados abaixo:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <form name="form-central-cliente" id="form-central-cliente" 
                              action="{{ path("fos_user_security_check") }}" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="_username" id="email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input type="password" name="_password" id="senha" class="form-control" />
                                <input type="hidden" name="_csrf_token" 
                                       value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                            </div>
                            <br />
                            <input type="submit" value="Entrar" class=" btn btn-primary form-control" />
                        </form>
                    </div>
                    <p><a href="#">Esqueci minha senha</a></p>
                    <p><a href="#">Ainda N&atilde;o tenho senha</a></p>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block rodape %} {{ parent() }} {% endblock %}
{% endblock %}