{% extends "VostreSiteBundle::layout.html.twig" %}
        {#{% block javascript %}
                {{ parent() }}
        {% endblock %}    
        {% block css %}
                {{ parent() }}
        {% endblock %}   #}     
{% block body %}
        {#{{ parent() }}#}
        {% block menu %} {{ parent() }} {% endblock %}
        {% block conteudo %}
            <div class="container-fluid" style="min-height: 100%;">
            <div class="row">
                <div class="col-md-12">
                    <h3>{% trans %}site.pagina.titulo.portfolio{% endtrans %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>{% trans %}site.pagina.descricao.portfolio{% endtrans %}</p>
                </div>
            </div>
            {% include 'VostreSiteBundle:Component:galeria.html.twig' 
                with {'portfolio': portfolio, 'caminho': 'uploads/portfolio/'} %}
            {#<div class="row text-center">
                <div class="col-md-4">
                    <img class="v-imagem-servico" data-src="holder.js/350x200/auto/#FFF:#D00/text:Vostre Circular" alt="Third slide">
                    <h3>Vostr&egrave; Circular</h3>
                    <p>Visando melhorar as informa&ccedil;&otilde;es sobre o transporte p&uacute;blico, o 
                        <strong>Vostr&egrave; Circular</strong> foi desenvolvido, trazendo dados sobre 
                        itiner&aacute;rios, pontos de &ocirc;nibus, al&eacute;m da tecnologia de 
                        Realidade Aumentada. Isso tudo sem a necessidade de utiliza&ccedil;&atilde;o da Internet 
                        para as consultas.</p>
                </div>
            </div>#}
        </div>
        {% endblock %}
        {% block rodape %} {{ parent() }} {% endblock %}
{% endblock %}