{# empty Twig template #}
{% extends "VostreCentralBundle::layout.html.twig" %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}        
{% block body %}
    {#{{ parent() }}#}
    {% block menu %} 
        {{ parent() }}
    {% endblock %}
    {% block conteudo %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">Gerenciamento de Bairros</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form name="form-bairro" id="form-bairro" method="POST" 
                          action="{{ path('vostre_site_admin_bairros_cadastra', {'id_bairro': -1}) }}">
                        {{ form_widget(formBairro) }}
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped table-responsive text-center">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Nome</td>
                                <td>Local</td>
                                <td>Status</td>
                                <td>A&ccedil;&otilde;es</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bairro in bairros %}
                                <tr>
                                    <td>{{ bairro.id }}</td>
                                    <td>{{ bairro.nome }}</td>
                                    <td>{{ bairro.local.nome }}</td>
                                    <td>
                                        {% if bairro.status == 0 %}
                                            Ativo
                                        {% else %}
                                            Inativo
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#{{ bairro.id }}" class="link-editar">Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- MODAL EDICAO -->

        <div class="modal fade" id="modal-edicao">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Editar Bairro</h4>
                    </div>
                    <div class="modal-body" id="body-edicao">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-editar">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block rodape %} {{ parent() }} {% endblock %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('js/moment.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('.link-editar').click(function () {

                    $idBairro = $(this).attr('href').replace('#', '');

                    $url = '{{ path('circular_site_admin_bairros_form') }}' + "/" + $idBairro;

                    $.ajax({
                        type: 'GET',
                        url: $url,
                        success: function (response) {
                            $('#body-edicao').html(response);
                            $('#modal-edicao').modal('show');
                        }
                    });

                    return false;

                });
            });
        </script>
    {% endblock %}    
{% endblock %}
