{# empty Twig template #}
{% extends "VostreCentralBundle::layout.html.twig" %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false&amp;language=pt_BR&key=AIzaSyA0bsaJm7wGpB4BK_Pu43_YWT5KqG2xrzk"></script>
    <script type="text/javascript" src="{{ asset('js/gmap3.js') }}"></script>
    <script>

        var paradas = [];
        function mostraForm($lat, $lng, $id) {
            $('#circular_sitebundle_parada_latitude').val($lat);
            $('#circular_sitebundle_parada_longitude').val($lng);
            $('#modal-form').modal("show");
        }

        {% for parada in paradas %}
            var umaParada = {
            lat: '{{ parada.latitude }}',
                    lng: '{{ parada.longitude }}',
                    data: {
                    nome: '{{ parada.referencia }}',
                            id:{{ parada.id }},
                            idBairro:{{ parada.bairro.id }},
                            bairro: '{{ parada.bairro }}'
                    },
                    tag:{{ parada.id }},
                    options:{
                    icon: new google.maps.MarkerImage('{{ asset('imagens/circular/marker.png') }}')
                    }
            };
                    paradas.push(umaParada);
        {% endfor %}
    
        function carregaModal($id){
            $url = '{{ path('circular_site_admin_paradas_form') }}' + "/" + $id;
            $.ajax({
            type: 'GET',
                    url: $url,
                    success: function(response) {
                    $('#body-edicao').html(response);
                            $('#modal-edicao').modal('show');
                    }
            });
        }

        $(document).ready(function() {

            $('.link-editar').click(function() {

                $idParada = $(this).attr('href').replace('#', '');
                carregaModal($idParada);
                return false;
            });
            
            $('#mapa').gmap3({
                map: {
                    options: {
                        center: [ - 22.470904, - 43.824914],
                        zoom: 16,
                        mapTypeControl: true,
                        mapTypeId: "circular"
                    },
                    events:{
                        click: function(map, event){
                            $('#mapa').gmap3({
                                clear:{
                                    tag: - 1
                                }
                            });
                            
                            $('#mapa').gmap3({
                                marker:{
                                    latLng: event.latLng,
                                    options:{
                                        draggable: true
                                    },
                                    tag: - 1,
                                    events:{
                                        dragend: function(marker){
                                            $coordenadas = marker.position.toString().replace('(','').replace(')', '')
                                                .replace(' ','').split(',');    

                                            var $lat = $coordenadas[0];
                                            var $lng = $coordenadas[1];

                                            mostraForm($lat, $lng, - 1);
                                        }
                                    }
                                }
                            });

                            $coordenadas = event.latLng.toString().replace('(','').replace(')', '')
                                    .replace(' ','').split(',');

                            var $lat = $coordenadas[0];
                            var $lng = $coordenadas[1];

                            mostraForm($lat, $lng, - 1);
                        }
                    }
                },
                styledmaptype: {
                    id: "circular",
                    options: {
                        name: "Circular"
                    },
                    styles: [
                        {
                            featureType: "poi",
                            elementType: "poi",
                            stylers: [
                                {hue: "#ff0022"},
                                {saturation: 60},
                                {lightness: - 20},
                                {visibility: "off"}
                            ]
                        }
                    ]
                },
                marker: {
                    values: paradas,
                    events: {
                        mouseover: function(marker, event, context) {
                            $(this).gmap3({
                                clear: {
                                    name: 'overlay'
                                },
                                overlay: {
                                    latLng: marker.getPosition(),
                                    options: {
                                        content: '<div class="v-infowindow"><div class="v-info-conteudo">'
                                                + context.data.nome + '<br /><br />'
                                                + context.data.bairro + '</div></div>',
                                                offset: {
                                                    x: 0,
                                                    y: - 105
                                                }
                                    }
                                }
                            });
                        },
                        mouseout: function() {
                            $(".v-infowindow").fadeOut(1000);
                        },
                        click: function(marker, event, context){
                            $id = context.data.id;
                            carregaModal($id);
                        }
                    }
                }
            });
            
            $('#btn-cadastrar-parada').click(function(){
                $('#btn-submit-parada').click();
            });
            
        });
    </script>
{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />
{% endblock %}        
{% block body %}
    {#{{ parent() }}#}
    {% block menu %} 
        {{ parent() }}
    {% endblock %}
    {% block conteudo %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">Gerenciamento de Paradas<br /><small>Clique no mapa para adicionar uma parada</small></h4>
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('aviso-parada') %}

                <p>&nbsp;</p>
                <div class="alert alert-dismissible v-alerta-erro" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>

            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    {#<form name="form-parada" id="form-parada" method="POST" 
                          action="{{ path('circular_site_admin_paradas_cadastra', {'id_parada': -1}) }}">
                        {{ form_widget(formParada) }}
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </form>#}
                    <div id="mapa" style="width: 100%; height: 400px;">
                        mapa
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped table-responsive text-center">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Refer&ecirc;ncia</td>
                                <td>Latitude</td>
                                <td>Longitude</td>
                                <td>Bairro</td>
                                <td>Cidade</td>
                                <td>Status</td>
                                <td>A&ccedil;&otilde;es</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for parada in paradas %}
                                <tr>
                                    <td>{{ parada.id }}</td>
                                    <td>{{ parada.referencia }}</td>
                                    <td>{{ parada.latitude }}</td>
                                    <td>{{ parada.longitude }}</td>
                                    <td>{{ parada.bairro.nome }}</td>
                                    <td>{{ parada.bairro.local.nome }}</td>
                                    <td>
                                        {% if parada.status == 0 %}
                                            Ativo
                                        {% else %}
                                            Inativo
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#{{ parada.id }}" class="link-editar">Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Cadastrar Parada</h4>
                    </div>
                    <div class="modal-body">
                        <form name="form-parada" id="form-parada" method="POST" 
                              action="{{ path('circular_site_admin_paradas_cadastra', {'id_parada': -1}) }}">
                            {{ form_widget(formParada) }}
                            <input type="submit" value="Cadastrar" class="btn btn-primary hidden" id="btn-submit-parada" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-cadastrar-parada">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL EDICAO -->

        <div class="modal fade" id="modal-edicao">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Editar Parada</h4>
                    </div>
                    <div class="modal-body" id="body-edicao">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-editar">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block rodape %} {{ parent() }} {% endblock %}    
{% endblock %}