{# empty Twig template #}
<h3 class="text-center">
    {% if itinerario.partida.local != itinerario.destino.local %}
                <td>
                    {{ itinerario.partida.local.nome }} 
                        x {{ itinerario.destino.local.nome }}
                        <br /><small>{{ itinerario.observacao }}</small>
                </td>
            {% else %}
                <td>{{ itinerario.partida.nome }} x {{ itinerario.destino.nome }}</td>
            {% endif %}
            </h3>
<table id="tabela-horarios">
{% for horario in horarios %}
    <tr>
        {% if horario.horario|date('H:i') == hora %}
            <td><span class="destaque">{{ horario.horario|date('H:i') }}</span></td>
        {% else %}
            <td><span>{{ horario.horario|date('H:i') }}</span></td>
        {% endif %}
        <td>{% if horario.domingo == -1 %} 
                <img src="{{ asset('imagens/circular/dias/domingo.png') }}" /> 
            {% else %}
                <img src="{{ asset('imagens/circular/dias/domingo-gc.png') }}" />
            {% endif %}
        </td>
        <td>{% if horario.segunda == -1 %} 
                <img src="{{ asset('imagens/circular/dias/segunda.png') }}" /> 
            {% else %}
                <img src="{{ asset('imagens/circular/dias/segunda-gc.png') }}" />
            {% endif %}
        </td>
        <td>{% if horario.terca == -1 %} 
                <img src="{{ asset('imagens/circular/dias/terca.png') }}" /> 
            {% else %}
                <img src="{{ asset('imagens/circular/dias/terca-gc.png') }}" />
            {% endif %}
        </td>
        <td>{% if horario.quarta == -1 %} 
                <img src="{{ asset('imagens/circular/dias/quarta.png') }}" /> 
            {% else %}
                <img src="{{ asset('imagens/circular/dias/quarta-gc.png') }}" />
            {% endif %}
        </td>
        <td>{% if horario.quinta == -1 %} 
                <img src="{{ asset('imagens/circular/dias/quinta.png') }}" /> 
            {% else %}
                <img src="{{ asset('imagens/circular/dias/quinta-gc.png') }}" />
            {% endif %}
        </td>
        <td>{% if horario.sexta == -1 %} 
                <img src="{{ asset('imagens/circular/dias/sexta.png') }}" /> 
            {% else %}
                <img src="{{ asset('imagens/circular/dias/sexta-gc.png') }}" />
            {% endif %}
        </td>
        <td>{% if horario.sabado == -1 %} 
                <img src="{{ asset('imagens/circular/dias/sabado.png') }}" /> 
            {% else %}
                <img src="{{ asset('imagens/circular/dias/sabado-gc.png') }}" />
            {% endif %}
        </td>
        {% if horario.obs is defined %}
            <td>
                <tr>
                    <td colspan="8" class="text-center destaque-amarelo">{{ horario.obs }}</td>
                </tr>
            </td>
        {% endif %}
    </tr>
{% endfor %}
</table>