{% extends "CircularSiteBundle:Page:interno.html.twig" %}
{#{% block menu %}{% endblock menu %}#}
{% block conteudo %}
    <h3 class="text-center">{{ parada.referencia }}<br />
        {% if parada.bairro.local.tipo == 1 %}
            <small>{{ parada.bairro.nome }} ({{ parada.bairro.local.nome }}) - 
                {{ parada.bairro.local.cidade.nome }}/{{ parada.bairro.local.estado.sigla }}</small>
            {% else %}
                <small>{{ parada.bairro.nome }} - {{ parada.bairro.local.nome }}</small>
        {% endif %}
    </h3>
    
    <h4 class="text-center">Pr&oacute;ximas Sa&iacute;das<br /><small>(Hor&aacute;rios de Sa&iacute;da da Origem)</small></h4>
    <div id="container-tabela-itinerarios-full">
        <table id="tabela-itinerarios" class="table">
        {% for hi in itinerarios %}
            <tr class="text-center">
            {% if hi.itinerario.partida.local != hi.itinerario.destino.local %}
                <td>
                    {{ hi.itinerario.partida.local.nome }} 
                        x {{ hi.itinerario.destino.local.nome }}
                        <br /><small>{{ hi.itinerario.observacao }}</small>
                </td>
                <td>{{ hi.horario.nome|date('H:i') }}<br /><span class="obs-horario">{{ hi.obs }}</span></td>
                <td><a href="#{{ hi.itinerario.id }}" data-hora="{{ hi.horario.nome|date('H:i') }}" class="link-horarios">Ver Hor&aacute;rios</a></td>
            {% else %}
                <td>{{ hi.itinerario.partida.nome }} x {{ hi.itinerario.destino.nome }}</td>
                <td>{{ hi.horario.nome|date('H:i') }}<br /><span class="obs-horario">{{ hi.obs }}</span></td>
                <td><a href="#{{ hi.itinerario.id }}" data-hora="{{ hi.horario.nome|date('H:i') }}" class="link-horarios">Ver Hor&aacute;rios</a></td>
            {% endif %}
            </tr>
            {% else %}
                <p class="text-center">Nenhuma sa&iacute;da encontrada</p>

        {% endfor %}
        </table>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Baixe agora mesmo o aplicativo e consulte onde estiver!</h4>
                    <a href="https://play.google.com/store/apps/details?id=br.com.vostre.circular" 
                       target="_blank">
                                <img alt="Get it on Google Play"
                                     src="https://developer.android.com/images/brand/pt-br_generic_rgb_wo_45.png" />
                            </a>
                    <br />
                    <br />
                    <p>
                        <a href="{{ path('circular_site_homepage') }}" 
                           id="link-voltar-pagina-inicial">Voltar para a p&aacute;gina inicial</a>
                    </p>
                    <br />
                </div>
            </div>
        </div>
{% endblock conteudo %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script type="text/javascript">
            
            function carregaModalLoad(){
                $('#modal-load').modal('show');
            }

            function fechaModalLoad(){
                $('#modal-load').modal('hide');
            }
            
            $(document).ready(function(){
{#                $('#container-tabela-itinerarios').mCustomScrollbar();#}
                $('.link-horarios').click(function(){
                    carregaModalLoad();
                    $id = $(this).attr('href').replace('#', '');
                    $hora = $(this).data('hora');
                    
                    $url = '{{ path('circular_site_itinerario_todos_horarios', {'id_itinerario': -1, 'hora': -2}) }}';
                    $url = $url.replace('-1', $id).replace('-2', $hora);
                    
                    $.ajax({
                    type: 'GET',
                            url: $url,
                            success: function(response) {
                                $('#body-horarios').html(response);
                                fechaModalLoad();
                                $('#modal-horarios').modal('show');
                            }
                    });
                    
                    return false;
                });
            });
        </script>
{% endblock js %}