    <div id="conteudo-detalhe">
        <h4 id="detalhe-parada">{{ parada.referencia }}</h4>
        <p id="detalhe-bairro">{{ parada.bairro }}</p>
        <br />
        <p>Pr&oacute;ximos Hor&aacute;rios</p>
        <br />
        {% for itinerario in itinerarios %}
        
        <script type="text/javascript">
            $('#mapa').gmap3({
                getdistance:{
                    options:{
                        origins:[new google.maps.LatLng({{ itinerarios.0.latitude_partida }}, {{ itinerarios.0.longitude_partida }})],
                        destinations:[new google.maps.LatLng({{ itinerarios.0.latitude_parada }}, {{ itinerarios.0.longitude_parada }})],
                        travelMode: google.maps.TravelMode.DRIVING
                    },
                    callback: function(results, status){
                        var result = "";
                        console.log(results);
                        if(results){
                            qtdResultados = results.rows.length;
                            for(var i = 0; i < qtdResultados; i++){
                                var elements = results.rows[i].elements;
                                
                                var qtdElementos = elements.length;
                                
                                for(var j = 0; j < qtdElementos; j++){
                                    switch(elements[j].status){
                                        case 'OK':
                                            result = elements[j].duration.value / 60;
                                    }
                                }
                            }
                        }
                        
                        if(result.toFixed(0) != 0){
                            $('#hora{{ itinerario.id_itinerario }}').html("+ "+result.toFixed(2)+" min");
                        console.log("Mais "+result.toFixed(2)+" minutos!");
                        }
                        
                    }
                }
            });
        </script>
        
        <div class="detalhe-horario-itinerario">
            <span class="detalhe-itinerario">
                <a onclick="recuperaDados(this.href, {{ parada.id }});return false;" href="{{ path('circular_site_lista_paradas_itinerario', 
{'id_itinerario': itinerario.id_itinerario}) }}">
                    <img src="{{ asset('imagens/onibus-mini-verde.png') }}" /></a>
                {{ itinerario.bairro_partida }} x {{ itinerario.bairro_destino }}</span>
            <span class="hora">
                {% set hora = "now"|date('H:i', 'America/Sao_Paulo') %}
                {% render controller('CircularSiteBundle:Itinerario:proximoHorario', 
                {'itinerario': itinerario.id_itinerario, 'hora': hora}) %}
            </span>
            <span class="hora-aproximada" id="hora{{ itinerario.id_itinerario }}"></span>
            <p class="detalhe-todos-horarios">
                <a class="lista-todos-horarios" id="{{ itinerario.id_itinerario }}" href="#">Todos os Hor&aacute;rios</a>
            </p>
        </div>
        <div id="retorno-ajax"></div>
        <div id="retorno-todos-horarios"></div>
        {% else %}
        <p>Nenhum resultado encontrado.</p>
        {% endfor %}
        <script type="text/javascript">
            
            $("#retorno-todos-horarios").dialog({
                    autoOpen: false,
                    width: '35%',
                    title: false,
                    resizable: false,
                    draggable: true,
                    modal: false,
                    show: 'fade',
                    hide: 'fade',
                    closeText: 'Fechar'
                });
            
            function recuperaDados($url, $idParada){
                
                $.ajax({
                        type: 'GET',
                        url: $url,
                        cache: 'false',
                        dataType: 'text',
                        success: function(data){
                            eval($('#retorno-ajax').html(data));
                            
                            detalheAberto = true;
                            
{#                            console.log(paradas);#}
                            
                            qtdParadas = paradas.length;
                            
                            for(i = 0; i < qtdParadas; i++){
                                
                                var myMarker = $("#mapa").gmap3({
                                    get:{
                                        name: 'marker', tag: paradas[i].id
                                    }
                                });
                                
                                myMarker.setIcon(new google.maps.
                        MarkerImage('{{ asset('imagens/marker-selecionado.png') }}'));
                                 
                                {#if(i === 0){
                                    $("#mapa").gmap3({
                                        clear:{
                                            name: 'overlay'
                                        }
                                    });
                                }#}
                                
                                $("#mapa").gmap3({
                                    overlay:{
                                        latLng: myMarker.getPosition(),
                                        options:{
                                            content: '<div class="infowindow-ordem"><div class="info-conteudo">'
                                                    +(i+1)+'</div></div>',
                                            offset: {
                                                x: -10,
                                                y: -80
                                            }
                                        }
                                    }
                                  });
                                  
                                 {# myMarker.showInfowindow();#}
                                
                            }
                            
                            var markerDetalhe = $("#mapa").gmap3({
                                    get:{
                                        name: 'marker', tag: $idParada
                                    }
                                });
                                
                                markerDetalhe.setIcon(new google.maps.
                        MarkerImage('{{ asset('imagens/marker-selecionado-detalhe.png') }}'));
                            
                        }
                    }); 
                
                return false;
            }
            
            function recuperaTodosHorarios($idItinerario, $hora){
            
                    $url = '{{ path('circular_site_itinerario_todos_horarios', 
                                {'id_itinerario': -1, 'hora': -2}) }}';
                    $url = $url.replace('-1', $idItinerario);
                    
                    $url = $url.replace('-2', $hora);
            
                    $.ajax({
                        type: 'GET',
                        url: $url,
                        success: function(data){
                            $('#retorno-todos-horarios').html(data);
                            $('#retorno-todos-horarios').dialog('open');
                        }
                    });                
            }
            
            $('.lista-todos-horarios').each(function(){
                    $(this).click(function(){
                        
                        $hora = $(this).parent().parent().children('.hora').text();
                        
                        $hora = $hora.trim();
                        
                        recuperaTodosHorarios($(this).attr('id'), $hora);
                    });
                });
            
        </script>