{#{% extends "CircularSiteBundle:Page:interno.html.twig" %}
{% block menu %}{% endblock menu %}#}
{#{% block conteudo %}#}
    <h3 class="text-center">{{ parada.referencia }}<br />
        {% if parada.bairro.local.tipo == 1 %}
            <small>{{ parada.bairro.nome }} ({{ parada.bairro.local.nome }}) - 
                {{ parada.bairro.local.cidade.nome }}/{{ parada.bairro.local.estado.sigla }}</small>
            {% else %}
            <small>{{ parada.bairro.nome }} - {{ parada.bairro.local.nome }}/
                {#<a href="{{ path('circular_site_estado', {'sigla': parada.bairro.local.estado.sigla|lower}) }}">#}{{ parada.bairro.local.estado.sigla }}{#</a>#}</small>
        {% endif %}
    </h3>
    
    <h4 class="text-center">Pr&oacute;ximas Sa&iacute;das</h4>

    <table id="tabela-itinerarios">
    {% for hi in itinerarios %}
        <tr class="text-center">
        {% if hi.itinerario.partida.local != hi.itinerario.destino.local %}
            <td>
                {{ hi.itinerario.partida.local.nome }} 
                    x {{ hi.itinerario.destino.local.nome }}
                    <br /><small>{{ hi.itinerario.observacao }}</small>
            </td>
            <td>{{ hi.horario.nome|date('H:i') }}</td>
        {% else %}
            <td>{{ hi.itinerario.partida.nome }} x {{ hi.itinerario.destino.nome }}</td>
            <td>{{ hi.horario.nome|date('H:i') }}</td>
        {% endif %}
        </tr>
        {% else %}
            <p class="text-center">Nenhuma sa&iacute;da encontrada</p>
        
    {% endfor %}
    </table>
    
{#{% endblock conteudo %}#}