{#{% extends "CircularSiteBundle:Page:interno.html.twig" %}
{% block menu %}{% endblock menu %}#}
{#{% block conteudo %}#}
    <h3 class="text-center">{{ parada.referencia }}<br />
        {% if parada.bairro.local.tipo == 1 %}
            <small>{{ parada.bairro.nome }} ({{ parada.bairro.local.nome }}) - 
                {{ parada.bairro.local.cidade.nome }}/{{ parada.bairro.local.estado.sigla }}</small>
            {% else %}
            <small>{{ parada.bairro.nome }} - {{ parada.bairro.local.nome }}/
                {#<a href="{{ path('circular_site_estado', {'sigla': parada.bairro.local.estado.sigla|lower}) }}">#}{{ parada.bairro.local.estado.sigla }}{#</a>#}</small>
        {% endif %}
    </h3>
    
    <h4 class="text-center">Pr&oacute;ximas Sa&iacute;das</h4>
    <div id="container-tabela-itinerarios">
        <table id="tabela-itinerarios" class="table">
        {% for hi in itinerarios %}
            <tr class="text-center">
            {% if hi.itinerario.partida.local != hi.itinerario.destino.local %}
                <td>
                    {{ hi.itinerario.partida.local.nome }} 
                        x {{ hi.itinerario.destino.local.nome }}
                        <br /><small>{{ hi.itinerario.observacao }}</small>
                </td>
                <td>{{ hi.horario.nome|date('H:i') }}<br /><span class="obs-horario">{{ hi.obs }}</span></td>
                <td><a href="#{{ hi.itinerario.id }}" data-hora="{{ hi.horario.nome|date('H:i') }}" class="link-horarios">Ver Hor&aacute;rios</a></td>
            {% else %}
                <td>{{ hi.itinerario.partida.nome }} x {{ hi.itinerario.destino.nome }}</td>
                <td>{{ hi.horario.nome|date('H:i') }}<br /><span class="obs-horario">{{ hi.obs }}</span></td>
                <td><a href="#{{ hi.itinerario.id }}" data-hora="{{ hi.horario.nome|date('H:i') }}" class="link-horarios">Ver Hor&aacute;rios</a></td>
            {% endif %}
            </tr>
            {% else %}
                <p class="text-center">Nenhuma sa&iacute;da encontrada</p>

        {% endfor %}
        </table>
    </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#container-tabela-itinerarios').mCustomScrollbar();
                $('.link-horarios').click(function(){
                    carregaModalLoad();
                    $id = $(this).attr('href').replace('#', '');
                    $hora = $(this).data('hora');
                    
                    $url = '{{ path('circular_site_itinerario_todos_horarios', {'id_itinerario': -1, 'hora': -2}) }}';
                    $url = $url.replace('-1', $id).replace('-2', $hora);
                    
                    $.ajax({
                    type: 'GET',
                            url: $url,
                            success: function(response) {
                                $('#body-horarios').html(response);
                                fechaModalLoad();
                                $('#modal-horarios').modal('show');
                            }
                    });
                    
                    return false;
                });
            });
        </script>
    
{#{% endblock conteudo %}#}