<div class="container-fluid" style="min-height: 100%;">
    <div class="row">
        <div class="col-md-12">
            <h4>Ol&aacute;, {{ usuario.nome }}!</h4>
            <p>Seja bem vindo &agrave; central do administrador <strong>Vostr&egrave;</strong>!</p>
            <p>Aqui voc&ecirc; pode enviar avisos, verificar 
                chamados abertos, al&eacute;m de ler sugest&otilde;es de melhorias, 
                atrav&eacute;s de mensagens de nossos clientes e, claro, gerenciar os dados dos m&oacute;dulos.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Universais</h4>
        </div>
    </div>
    <div class="row text-center v-links-administracao">
        <div class="col-md-12">
            <div class="btn-group">
                <a href="{{ path('vostre_site_admin_paises') }}" class="btn btn-primary">Gerenciar Pa&iacute;ses</a>
                <a href="{{ path('vostre_site_admin_estados') }}" class="btn btn-primary">Gerenciar Estados</a>
                <a href="{{ path('vostre_site_admin_locais') }}" class="btn btn-primary">Gerenciar Locais</a>
                <a href="{{ path('vostre_site_admin_bairros') }}" class="btn btn-primary">Gerenciar Bairros</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Vostr&egrave; Circular</h4>
        </div>
    </div>
    <div class="row text-center v-links-administracao">
        <div class="col-md-12">
            <div class="btn-group">
{#                <a href="{{ path('circular_site_admin_horarios') }}" class="btn btn-primary">Gerenciar Hor&aacute;rios</a>#}
                <a href="{{ path('circular_site_admin_paradas') }}" class="btn btn-primary">Gerenciar Paradas</a>
                <a href="{{ path('circular_site_admin_empresas') }}" class="btn btn-primary">Gerenciar Empresas</a>
                <a href="{{ path('circular_site_admin_itinerarios') }}" class="btn btn-primary">Gerenciar Itiner&aacute;rios</a>
                <a href="{{ path('circular_site_admin_horarios_itinerarios') }}" class="btn btn-primary">Gerenciar Hor&aacute;rios Itiner&aacute;rios</a>
                <a href="{{ path('circular_site_admin_mensagens') }}" class="btn btn-primary">Gerenciar Mensagens</a>
                {#<a href="{{ path('circular_site_admin_secoes_itinerarios') }}" class="btn btn-primary">Gerenciar Se&ccedil;&otilde;es Itiner&aacute;rios</a>#}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center">&Uacute;ltimos Acessos</h4>
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <td>Cont.</td>
                        <td>Identificador &Uacute;nico</td>
                        <td>Data</td>
                        <td>Data Identificador</td>
                    </tr>
                </thead>
                <tbody>
                    {% for acesso in acessos %}
                        <tr class="linha-clicavel-identificador" 
                            data-id="{{ acesso.identificadorUnico }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ acesso.identificadorUnico }}</td>
                            <td>{{ acesso.dataCriacao|date('d/m/Y H:i:s') }}</td>
                            <td>{{ acesso
                                    .identificadorUnico|slice(2, 2) }}/{{ acesso
                                    .identificadorUnico|slice(4, 2) }}/{{ acesso
                                    .identificadorUnico|slice(6, 2) }}
                                    {{ acesso.identificadorUnico|slice(8, 2) }}:{{ acesso.identificadorUnico|slice(10, 2) }}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">&Uacute;ltimos Contatos Recebidos</h4>
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <td>Cont.</td>
                        <td>T&iacute;tulo</td>
                        <td>Data</td>
                    </tr>
                </thead>
                <tbody>
                    {% for contato in contatos %}
                        <tr class="linha-clicavel" data-id="{{ contato.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ contato.titulo }}</td>
                            <td>{{ contato.dataCadastro|date('d/m/Y H:i:s') }}</td>
                            <td><a class="link-excluir-contato" href="#{{ contato.id }}">Excluir</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">&Uacute;ltimas Mensagens Recebidas</h4>
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <td>Cont.</td>
                        <td>T&iacute;tulo</td>
                        <td>Data</td>
                    </tr>
                </thead>
                <tbody>
                    {% for mensagem in mensagens %}
                        <tr class="linha-clicavel-mensagem {% if mensagem.status == 3 %} nao-lida {% endif %}" data-id="{{ mensagem.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ mensagem.titulo }}</td>
                            <td>{{ mensagem.dataCriacao|date('d/m/Y H:i:s') }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-lable" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-label">Mensagem</h4>
            </div>
            <div class="modal-body" id="conteudo-modal">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>

    function carregaContato(id) {
        
        var caminho = '{{ path('vostre_site_admin_contato_carrega') }}';
        
        $.ajax({
            url: caminho+"/"+id,
            method: 'GET',
            success: function (response, status, xhr, form) {
                $('#conteudo-modal').html(response);
                $('#modal-label').html("Mensagem");
                $('.modal').modal('show');
            }
        });
    }
    
    function carregaMensagem(id) {
        
        var caminho = '{{ path('vostre_site_admin_mensagem_carrega') }}';
        
        $.ajax({
            url: caminho+"/"+id,
            method: 'GET',
            success: function (response, status, xhr, form) {
                $('#conteudo-modal').html(response);
                $('#modal-label').html("Mensagem");
                $('.modal').modal('show');
            }
        });
    }

    function excluiContato(id) {
        
        var caminho = '{{ path('vostre_site_admin_contato_exclui') }}';
        
        $.ajax({
            url: caminho+"/"+id,
            method: 'POST',
            success: function (response, status, xhr, form) {
                alert(response);
                window.location.reload();
            }
        });
    }
    
    function carregaAcessos(id) {
        
        var caminho = '{{ path('vostre_site_admin_acessos_carrega') }}';
        
        $.ajax({
            url: caminho+"/"+id,
            method: 'GET',
            success: function (response, status, xhr, form) {
                $('#conteudo-modal').html(response);
                $('#modal-label').html("Acessos usuário "+id);
                $('.modal').modal('show');
            }
        });
    }

    $(document).ready(function () {
        
        $('.linha-clicavel').click(function(){
            var id = $(this).data('id');
            
            carregaContato(id);
            
        });
        
        $('.linha-clicavel-identificador').click(function(){
            var id = $(this).data('id');
            
            carregaAcessos(id);
            
        });
        
        $('.linha-clicavel-mensagem').click(function(){
            var id = $(this).data('id');
            
            $(this).removeClass('nao-lida');
            
            carregaMensagem(id);
            
        });

        $('.link-excluir-contato').click(function () {

            var id = $(this).attr('href').replace('#', '');

            excluiContato(id);

            return false;
        });

    });
</script>