{# empty Twig template #}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% trans %}site.titulo.base.circular{% endtrans %}</title>

        {% block css %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/nova.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock css %}
    </head>
    <body id="conteudo-interno">
        {% block menu %}
            <h3 class="text-center" style="height: 10%;"><a href="{{ path('circular_site_homepage') }}" id="link-logo-interna">
                    <img src="{{ asset('imagens/circular/logo-branca.png') }}" id="logo-interno" /></a></h3>
        {% endblock %}
        {% block conteudo %}    
        {% endblock conteudo %}
        <div class="modal fade" id="modal-horarios">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Todos os Hor&aacute;rios</h4>
                    </div>
                    <div class="modal-body" id="body-horarios">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modal-load">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" id="content-load">
                        <div class="modal-inner text-center">
                            <h3 class="text-center">Carregando dados... por favor aguarde.</h3>
                            <img src="{{ asset('imagens/load.gif') }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    {% block js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock js %}
</html>