{# empty Twig template #}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% trans %}site.titulo.base.circular{% endtrans %}</title>

        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/nova.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/circular/jquery.mCustomScrollbar.css') }}" />
{#        <link rel="stylesheet" href="{{ asset('css/circular/jquery.simplyscroll.css') }}" />#}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {#        <script src='https://www.google.com/recaptcha/api.js'></script>#}
    </head>
    <body>
        {% block menu %}
            <div class="navbar" id="menu-principal">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle v-botao-collapse" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Navega&ccedil;&atilde;o</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
{#                    <a href="#" class="navbar-brand">Vostr&egrave;</a>#}
                    <a href="{{ path('circular_site_homepage') }}" class="navbar-brand">
                        <img src="{{ asset('imagens/circular/logo-branca.png') }}" id="logo" /></a>
                </div>
                <div class="collapse navbar-collapse">
                    <a href="https://play.google.com/store/apps/details?id=br.com.vostre.circular" 
                       target="_blank" class="navbar-text navbar-right" 
                       id="banner-google">
                                <img alt="Get it on Google Play"
                                     src="https://developer.android.com/images/brand/pt-br_generic_rgb_wo_45.png" />
                            </a>
                    <ul class="nav navbar-nav navbar-text navbar-right">
                        <li><a href="#sobre" class="link-menu">O QUE &Eacute;?</a></li>
                        <li><a href="#dados" class="link-menu">ALGUNS DADOS</a></li>
                        <li><a href="#contato" class="link-menu">ENTRE EM CONTATO</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        <div id="conteudo-scroll">
            <div class="section text-center" data-section-name="topo" id="topo">
                <input id="pac-input" type="text" placeholder="Pesquisar Local..." style="color: #333" class="clearable">
                <div id="mapa" style="min-height: 450px"></div>
                {#<p class="text-center"><img id="imagem-topo" 
                                            src="{{ asset('imagens/circular/banner-novo.png') }}"</p>
                <p class="text-center texto-destaque 
                   texto-destaque-topo">Os hor&aacute;rios do seu &ocirc;nibus no seu bolso</p>
                <p><a href="https://play.google.com/store/apps/details?id=br.com.vostre.circular" target="_blank">
                        <img alt="Get it on Google Play"
                             src="https://developer.android.com/images/brand/pt-br_generic_rgb_wo_60.png" />
                    </a></p>#}
                {#<div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                <label for="local" class="control-label col-md-2 col-sm-2 col-xs-2 text-right">{{ form_label(form.local) }}</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    {{ form_widget(form.local) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="partida" class="control-label col-md-2 col-sm-2 col-xs-2 text-right">{{ form_label(form.partida) }}</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    {{ form_widget(form.partida) }}
                                </div>
                            </div> 
                             <div class="form-group">
                                <label for="destino" class="control-label col-md-2 col-sm-2 col-xs-2 text-right">{{ form_label(form.destino) }}</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    {{ form_widget(form.destino) }}
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>#}

                <!-- INICIO CONSULTA -->
                {#<div id="caixa-dados">
                    
                </div>#}

                <!-- FIM CONSULTA -->
            </div>
            <div class="section" data-section-name="funcionalidades" id="sobre">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="titulo-secao">O QUE &Eacute;?</h2>
                            <hr class="linha-titulo" />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Aplicativo de mobilidade urbana voltado inicialmente para o Sul do Estado do Rio de Janeiro e 
                                regi&otilde;es pr&oacute;ximas. Traz de maneira simples e r&aacute;pida a informa&ccedil;&atilde;o 
                                sempre que voc&ecirc; precisar.</p>
                            <br />
                            <p>Voc&ecirc; vai encontrar no Circular:</p>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Itiner&aacute;rios</li>
                                <li>Paradas e Rodovi&aacute;rias</li>
                                <li>Quadro de Hor&aacute;rios</li>
                                <li>Pr&oacute;ximo Hor&aacute;rio Dispon&iacute;vel</li>
                                <li>Tarifas</li>
                                <li>Dados Dispon&iacute;veis Offline</li>
                                <li>Realidade Aumentada</li>
                                <li>Se&ccedil;&otilde;es <span class="badge badge-vermelha">Novo!</span></li>
                                <li>Itiner&aacute;rios e Paradas Favoritas <span class="badge badge-vermelha">Novo!</span></li>
                            </ul>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Todos os dados s&atilde;o colhidos de fontes oficias, ou seja, 
                                informa&ccedil;&otilde;es prestadas pela pr&oacute;pria empresa respons&aacute;vel pelo 
                                itiner&aacute;rio. 
                                <span class="destaque">N&atilde;o h&aacute;, atualmente, qualquer v&iacute;nculo com qualquer 
                                    empresa p&uacute;blica ou privada.</span></p>
                            <p>Caso verifique alguma inconsist&ecirc;ncia nos dados apresentados, por favor 
                                <a data-scroll href="#contato">nos informe</a> e 
                                faremos a corre&ccedil;&atilde;o o mais breve poss&iacute;vel.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" data-section-name="dados" id="dados">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="titulo-secao">ALGUNS DADOS</h2>
                            <hr class="linha-titulo" />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <span class="dado-destaque counter">{{ itinerarios }}</span><br />
                            <p class="texto-destaque">Itiner&aacute;rios</p>
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                            <p><span class="dado-subdestaque counter">{{ qtdParadas }}</span> 
                                <span class="texto-subdestaque">paradas</span></p>
                            <p><span class="dado-subdestaque counter">{{ locais }}</span> 
                                <span class="texto-subdestaque">cidades / distritos</span></p>
                            <p><span class="dado-subdestaque counter">{{ estados }}</span> <span class="texto-subdestaque">estados</span></p>
                            <p><span class="dado-subdestaque counter">{{ empresas }}</span> <span class="texto-subdestaque">empresas</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" data-section-name="contato" id="contato">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="titulo-secao">ENTRE EM CONTATO</h2>
                            <hr class="linha-titulo" />
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Tem alguma d&uacute;vida, cr&iacute;tica ou sugest&atilde;o? Descobriu algum dado incorreto? 
                                Escreva pra gente!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="form-contato" id="form-contato" action="{{ path('circular_site_contato') }}" method="POST">
                                {{ form_widget(formContato) }}
                                {#                                <div class="g-recaptcha" data-sitekey="6Lf6SRgTAAAAAHn2j1PAJvnB-_XMfS2FoahBVbeB"></div>#}
                                <input type="submit" value="Enviar" class="btn btn-primary" id="btn-enviar" 
                                       data-loading-text="Enviando..." />
                            </form>
                                <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="section fp-auto-height" data-section-name="rodape" id="rodape">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <br />
                            <p class="text-center text">&COPY; Vostr&egrave; 2015-2017 - Desenvolvido por Almir Junior</p>
                            <p class="text-center"><img style="width: 10%; height: auto;" 
                                                        src="{{ asset('imagens/-logo-branca-20.png') }}"</p>
                            <p class="text-center">contato@vostre.com.br</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modal-parada">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Detalhes da Parada</h4>
                    </div>
                    <div class="modal-body" id="body-parada">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
                            
    </body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&region=br&language=pt&key=AIzaSyBwHuCk1pqkG33l7fGjZVUBFn6Ujy54njA"></script>
{#    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&region=br&language=pt&key=AIzaSyBwHuCk1pqkG33l7fGjZVUBFn6Ujy54njA"></script>#}
    <script type="text/javascript" src="{{ asset('js/gmap3.js') }}"></script>
{#    <script type="text/javascript" src="{{ asset('js/maps.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/jquery.fullpage.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/smooth-scroll.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.counterup.min.js') }}"></script>
    <script type="text/javascript">
        
        var paradas = [];
        
        {% for parada in paradas %}
            var umaParada = {
            lat: '{{ parada.latitude }}',
                    lng: '{{ parada.longitude }}',
                    data: {
                    nome: '{{ parada.referencia }}',
                            id:{{ parada.id }},
                            idBairro:{{ parada.bairro.id }},
                            nomeBairro: '{{ parada.bairro.nome }}',
                            bairro: '{{ parada.bairro.slug }}',
                            nomeLocal: '{{ parada.bairro.local.nome }}',
                            local: '{{ parada.bairro.local.slug }}',
                            uf: '{{ parada.bairro.local.estado.sigla }}',
                            slug: '{{ parada.slug }}'
                    },
                    tag:{{ parada.id }},
                    options:{
                        
                        {#{% if parada.status == 3 %}
                            icon: new google.maps.MarkerImage('{{ asset('imagens/circular/marker-selecionado.png') }}')
                        {% else %}#}
                            icon: new google.maps.MarkerImage('{{ asset('imagens/circular/marker.png') }}')
{#                        {% endif %}#}
                        
                    
                    }
            };
                    paradas.push(umaParada);
        {% endfor %}
    
        function carregaModal($uf, $local, $bairro, $slug){
            $url = '{{ path('circular_site_parada', {'sigla': -1, 'local': -2, 'bairro': -3, 'slug': -4}) }}';
            $url = $url.replace('-1', $uf).replace('-2', $local).replace('-3', $bairro).replace('-4', $slug);
            $.ajax({
            type: 'GET',
                    url: $url,
                    success: function(response) {
                    $('#body-parada').html(response);
                            $('#modal-parada').modal('show');
                    }
            });
        }
        
        $(document).ready(function () {
            
            // CLEARABLE INPUT
            function tog(v){return v?'addClass':'removeClass';} 
            $(document).on('input', '.clearable', function(){
                $(this)[tog(this.value)]('x');
            }).on('mousemove', '.x', function( e ){
                $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
            }).on('touchstart click', '.onX', function( ev ){
                ev.preventDefault();
                $(this).removeClass('x onX').val('').change();
            });
            
            $('.clearable').trigger("input");

            $(window).resize(function () {

                var largura = $(window).width();

                {#if (largura <= 768) {
                    $.fn.fullpage.destroy();
                } else {
                    $.fn.fullpage.rebuild();
                }#}


            });

            {#smoothScroll.init();#}

            $('.counter').counterUp({
                time: 2000
            });

            {#$('#conteudo-scroll').fullpage({
                scrollBar: true,
                fitToSection: true
            });#}

            var largura = $(window).width();

            {#if (largura <= 768) {
                $.fn.fullpage.destroy();
            } else {
                $.fn.fullpage.rebuild();
            }#}

            $('#form-contato').validate({
                ignore: [],
                submitHandler: function (form) {

                    //$('#modal-load').modal('show');
                    $('#btn-enviar').button('loading');

                    $(form).ajaxSubmit({
                        success: function (response, status, xhr, form) {
                            if (response != '') {
                                //$('#modal-load').modal('hide');
                                $('#btn-enviar').button('reset');
                                alert("Houve um problema ao enviar a mensagem. Por favor tente novamente");
                            } else {
                                //$('#modal-load').modal('hide');
                                $('#btn-enviar').button('reset');
                                alert("Mensagem Enviada! Obrigado!");
                                $('#form-contato')[0].reset();
                            }
                        }
                    });

                    return false;

                },
                rules: {
                    'contato[nome]': "required",
                    'contato[email]': {
                        required: true,
                        email: true
                    },
                    'contato[titulo]': "required",
                    'contato[mensagem]': "required"
                },
                messages: {
                    'contato[nome]': "Por favor informe seu nome",
                    'contato[email]': {
                        required: "Por favor informe seu email",
                        email: "Por favor informe um email válido"
                    },
                    'contato[titulo]': "Por favor informe o assunto",
                    'contato[mensagem]': "Por favor digite a mensagem"
                }
            });

        var map = $('#mapa').gmap3({
                map: {
                    options: {
                        center: [ - 22.470904, - 43.824914],
                        zoom: 13,
                        scrollwheel: true,
                        scaleControl: false,
                        disableDefaultUI: false,
                        mapTypeControl: true,
                        mapTypeId: "circular"
                    }
                },
                styledmaptype: {
                    id: "circular",
                    options: {
                        name: "Circular"
                    },
                    styles: [
                        {
                            featureType: "poi",
                            elementType: "poi",
                            stylers: [
                                {hue: "#ff0022"},
                                {saturation: 60},
                                {lightness: - 20},
                                {visibility: "off"}
                            ]
                        }
                    ]
                },
                marker: {
                    values: paradas,
                    events: {
                        mouseover: function(marker, event, context) {
                            $(this).gmap3({
                                clear: {
                                    name: 'overlay'
                                },
                                overlay: {
                                    latLng: marker.getPosition(),
                                    options: {
                                        content: '<div class="v-infowindow"><div class="v-info-conteudo">'
                                                + context.data.nome + '<br /><br />'
                                                + context.data.nomeBairro + ' ('+context.data.nomeLocal+')</div></div>',
                                                offset: {
                                                    x: -95,
                                                    y: - 100
                                                }
                                    }
                                }
                            });
                        },
                        mouseout: function() {
                            $(".v-infowindow").fadeOut(500);
                        },
                        click: function(marker, event, context){
                            $uf = context.data.uf;
                            $local = context.data.local;
                            $bairro = context.data.bairro;
                            $slug = context.data.slug;
                            carregaModal($uf, $local, $bairro, $slug);
                        }
                    }
                }
            });
            
            map = $('#mapa').gmap3('get');
            
            var autocomplete = new google.maps.places.Autocomplete(document.getElementById('pac-input'));
            
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                if (typeof place == "undefined") {
                    window.alert("Not found!");
                }
                else{
                    globalPlace = place;
                    map.panTo(place.geometry.location)
                }
            });
            
            $('.link-menu').click(function(){
                $id = $(this).attr('href');
                
                $top = $($id).offset().top - $('html,body').offset().top + $('html,body').scrollTop();
                
                $('html,body').animate({scrollTop:$top},500);
                
                return false;
            });

            });
        </script>
    </html>